* {
	font-family: Roboto;
}
body {
	background-image: url(../img/hamburger.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center right;
}
form {
	background-color: rgba(255,255,255,0.3);
	border: black solid 2px;
	padding: 50px;
	margin-left: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
 	border-radius: 5px;
	float: left;
}
#titulo {
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px black;
}
label {
	color: white;
	text-shadow: 2px 2px 2px black;
	margin-bottom: 5px;
    margin-top: 10px;
    display: inline-block;
}
#requer_senha {
	margin-top: 5px;
}
input {
	border-radius: 5px;
	padding: 10px;
	border: #6d6969 solid 1px;
}
button {
	border-radius: 5px;
	background-color: white;
	border-radius: 5px;
	border: #6d6969 solid 1px;
	color: black;
	cursor: pointer;
	float: right;
	font-size: 14px;
	margin-left: 10px;
	margin: 5px;
	padding-bottom: 10px;
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 10px;
	width: 80px;
}
#enviar:hover{
	border-color: green;
	background-color: green;
}
#reset:hover {
	border-color: red;
	background-color: red;
}
#voltar:hover {
	border-color: orange;
	background-color: orange;
}
select {
	background-color: white;
	border: #6d6969 solid 1px;
	border-radius: 5px;
}