* {
	margin: 0;
	padding: 0;
	border:0;
}

.logo{

	background-repeat: no-repeat;
	float: left;
	margin-left: 50px;
	margin-top: 50px;
}

.frango{
	width: 250px;
}

.franguinho{
	background-image: url(../img/burguer.gif);
	background-size: cover;
	background-position: center;
	height: 950px;
	width: 100%;
}

ul {  
	text-align: right;
	padding-right: 40px;
	padding-top: 40px;
	font-size: 35px;
	font-family: 'Luckiest Guy', cursive;
}

li {

	display: inline;
}

a{

	text-decoration: none;
	padding-left: 10px;
	color: #418075;
	border-radius: 10px;
	padding-right: 10px;

}

.login {
	
}
a:hover{

	color: #FFA200;
}

.titulo {

	text-align: center;
	font-family: 'Luckiest Guy', cursive;
	color: #418075;
	padding-top: 40px;
	font-size: 30px;
<<<<<<< HEAD
=======
 }
.telefone, .pedido {
	text-align:center;
	padding-right: 40px;
	padding-top: 40px;
	font-size: 30px;
	font-family: 'Luckiest Guy', cursive;
	color:#418075;
>>>>>>> franguinho-da-onda-site/master
}

main {
	width: 80%;
	margin: auto;
}

 iframe {

 	width: 100%;
 }

