* {
	font-family: 'Luckiest Guy', cursive;
}
body {
	background-image: url(file:///S|/Turma%20395%20T%C3%A9cnico%20Inform%C3%A1tica%20-%20UC%2014%20-%20Maicon/Andr%C3%A9/img/hamburger.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center right;
}
form {
	background-color: rgba(255,255,255,0.2);
	border: black solid 2px;
	padding: 50px;
	margin-left: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
 	border-radius: 5px;
	float: left;
}
#titulo {
	text-align: center;
	color: #418075;
	text-shadow: 2px 2px black;
}

